body {
	background-color:#49614D !important;
	padding:50px 100;
}

/*Style for Page-Title*/
#pageTitle {
	text-align:center;
	background-color:#B0B9A8;
	border-style:double;
	border-width:10px;
	border-color:#9D9765;
}
#pageTitle h1 {
	font-size:40px;
}
#pageTitle p {
	font-size:18px;
	color:#8B0000;
}

/*Style for Section-Headers*/
#tdHeader, #cdHeader {
	background-color:#9D9765;
	padding:10px;
	margin-bottom:0px;
}

/*Style for Section-Forms*/
.tdForm, .cdForm {
	background-color:#B0B9A8;
	border-style:double;
	border-color:#9D9765;
	padding:10px;
}
label {
	margin-left:15px;
}
input {
	margin-right:15px;
	float:right;
}
.contestant{
  background-color:#9D9765;
  height:50px;
  width:100%;
  border-bottom:1px solid black;
}
li {
	list-style-type:none
}
.btn {
	color:#FFFFFF;
	font-weight:200;
	text-decoration:none;
	text-transform:uppercase;
	padding:8px 30px;
	text-align:center;
	clip-path:polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
	background-color:#9D9765;
	border-style:none;
	transition:transform 0.3s ease;
}
.btn:hover {
	transform:scale(1.05); /* Slightly increase the size (5%) on hover */
}